.container {
  display: flex;
  justify-content: center;
}

.input {
  padding-left: 0.75rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #dfdfde;
}

.button {
  border-radius: 0.3rem;
  border: none;
  padding: 0.5rem;
  background-color: #113cfc;
  color: white;
}

@media (max-width: 768px) {
  .input {
    font-size: 1rem;
  }
  .button {
    font-size: 1rem;
    padding: 0.4rem;
  }
}

@media (max-width: 576px) {
  .input {
    font-size: 0.7rem;
  }
  .button {
    font-size: 0.7rem;
    padding: 0.4rem;
  }
}
